If:
  PathMatch: .*\.(cu|cuh)$
CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - "--generate-code=*"
    - -x
    - -std=c++14
  Add:
    - -xcuda
    - --cuda-path=/usr/local/cuda-13.0
    - --cuda-gpu-arch=sm_80
    - --cuda-host-only
    - -std=c++17
    - -ferror-limit=0
    - -D_GLIBCXX_USE_CXX11_ABI=1
    - -I/home/duo.an/workspaces/pmpp/.clangd-cuda-shims
    - -I/usr/local/cuda/include
    - -I/usr/local/cuda/include/cccl
    - -I/home/duo.an/workspaces/pmpp/.venv/lib/python3.12/site-packages/torch/include
    - -I/home/duo.an/workspaces/pmpp/.venv/lib/python3.12/site-packages/torch/include/torch/csrc/api/include
    - -I/home/duo.an/.local/share/uv/python/cpython-3.12.13-linux-x86_64-gnu/include/python3.12
  Compiler: clang++
---
Diagnostics:
  Suppress: "*"
